/* Footer.css */

.footer {
    width: 100%;
    max-width: 1512px;
    background: black;
    padding: 60px 80px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    margin: 150px 0 0 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .footer-section {
    flex: 1 1 300px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 88, 4);
    margin-bottom: 16px;
  }
  
  .footer-section p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
  }
  